<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns="http://www.springframework.org/schema/beans"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <security:http auto-config="true" use-expressions="true">
        <security:form-login username-parameter="email" password-parameter="password" login-page="/auth/login"
                             default-target-url="/profile" login-processing-url="/auth/checklogin"
                             authentication-failure-url="/auth/login?error=failure"/>
        <security:logout invalidate-session="true" logout-success-url="/auth/login" logout-url="/auth/logout" delete-cookies="JSESSIONID"/>
        <security:csrf disabled="true"/>
    </security:http>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="authProvider"/>
    </security:authentication-manager>

    <bean id="authProvider" class="be.peerassistedlearning.web.provider.AuthenticationProviderImpl"/>

</beans>