<?xml version="1.0" encoding="UTF-8" ?>

<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"

        xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:annotation-config/>

    <!-- Entity manager factory -->

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="PAL"/>
        <property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml"/>
    </bean>

    <!-- DAOs -->

    <bean id="courseJPADAO" class="be.peerassistedlearningti.dao.jpa.CourseJPADAO">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="studentJPADAO" class="be.peerassistedlearningti.dao.jpa.StudentJPADAO">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="tutorJPADAO" class="be.peerassistedlearningti.dao.jpa.TutorJPADAO">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="roomJPADAO" class="be.peerassistedlearningti.dao.jpa.RoomJPADAO">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="lessonJPADAO" class="be.peerassistedlearningti.dao.jpa.LessonJPADAO">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="bookingJPADAO" class="be.peerassistedlearningti.dao.jpa.BookingJPADAO">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="applicationJPADAO" class="be.peerassistedlearningti.dao.jpa.ApplicationJPADAO">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- Service -->

    <bean id="service" class="be.peerassistedlearningti.service.PALServiceImpl">
        <property name="courseDAO" ref="courseJPADAO"/>
        <property name="studentDAO" ref="studentJPADAO"/>
        <property name="tutorDAO" ref="tutorJPADAO"/>
        <property name="roomDAO" ref="roomJPADAO"/>
        <property name="lessonDAO" ref="lessonJPADAO"/>
        <property name="bookingDAO" ref="bookingJPADAO"/>
        <property name="applicationDAO" ref="applicationJPADAO"/>
    </bean>

    <!-- File manager -->

    <bean id="fileManager" class="be.peerassistedlearningti.web.model.file.FileManagerImpl"/>

    <!-- Validators -->

    <bean id="profileValidator" class="be.peerassistedlearningti.web.model.validator.ProfileValidator"/>
    <bean id="passwordValidator" class="be.peerassistedlearningti.web.model.validator.PasswordValidator"/>

    <!-- Converter service -->

    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="be.peerassistedlearningti.web.model.converter.RoomTypeConverter"/>
                <bean class="be.peerassistedlearningti.web.model.converter.CampusConverter"/>
                <bean class="be.peerassistedlearningti.web.model.converter.LessonConverter"/>
                <bean class="be.peerassistedlearningti.web.model.converter.LessonInverseConverter"/>
                <bean class="be.peerassistedlearningti.web.model.converter.StudentConverter"/>
                <bean class="be.peerassistedlearningti.web.model.converter.StudentInverseConverter"/>
                <bean class="be.peerassistedlearningti.web.model.converter.CourseConverter"/>
                <bean class="be.peerassistedlearningti.web.model.converter.CourseInverseConverter"/>
                <bean class="be.peerassistedlearningti.web.model.converter.RoomConverter"/>
                <bean class="be.peerassistedlearningti.web.model.converter.RoomInverseConverter"/>
            </set>
        </property>
    </bean>

    <!-- Multipart file settings -->

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="-1"/>
    </bean>

    <!-- Localization of hibernate messages during validation -->

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:ValidationMessages</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"></property>
    </bean>

    <bean id="messageAccessor" class="org.springframework.context.support.MessageSourceAccessor">
        <constructor-arg index="0" ref="messageSource"/>
    </bean>

    <!-- Validator -->

    <bean name="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>

    <!-- Language Interceptor -->

    <bean id="localeChangeInterceptor"
          class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
        <property name="paramName" value="lang"/>
    </bean>

    <bean id="localeResolver"
          class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="defaultLocale" value="en_US"/>
    </bean>

    <bean id="handlerMapping" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
        <property name="interceptors">
            <ref bean="localeChangeInterceptor"/>
        </property>
    </bean>

    <mvc:interceptors>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="lang"/>
        </bean>
    </mvc:interceptors>

</beans>