<?xml version="1.0" encoding="UTF-8" ?>

<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"

        xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="PAL"/>
        <property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml"/>
    </bean>

    <bean id="courseJPADb" class="be.peerassistedlearningti.dao.jpa.CourseJPADAO">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="studentJPADb" class="be.peerassistedlearningti.dao.jpa.StudentJPADAO">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    <bean id="roomJPADb" class="be.peerassistedlearningti.dao.jpa.RoomJPADAO">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="service" class="be.peerassistedlearningti.service.PALServiceImpl">
        <property name="courseDAO" ref="courseJPADb"/>
        <property name="studentDAO" ref="studentJPADb"/>
        <property name="roomDAO" ref="roomJPADb"/>
    </bean>

</beans>