.checkbox {
    margin-top: 0px;
    padding: 6px 0;
    margin-bottom: 0px;
}

.checkbox > label > span {
    display: inline-block;
    margin-left: 5px;
    padding: 1px 0;
    vertical-align: middle;
}

form {
    margin-bottom: 15px;
}

form.small {
    float: left;
    margin-right: 5px;
    margin-bottom: 0;
}

input[type=file] {
    padding: 6px 0;
}

textarea {
    resize: vertical;
}

.login-logo {
    margin-bottom: 20px;
}
